@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap");


$font: "Mulish", sans-serif;
$base-color: #6663ca;
$light-grey: #f6f6f6;
$grey: #e6e6e6;
$dark-grey: #b7b7b7;
$footer-color: #f0f0f0;
$white: #ffffff;
$black: #000000;

